
<%- include('../partials/header'); %>

<main class="admin main blog">
    <div class="ui fluid action input">
        <input type="text" placeholder="Search Posts...">
        <div class="ui button">Search</div>
    </div>
    <h1 class="heading-1 border-bottom">Posts</h1>
    <% for(let i=0; i<posts.length; i++){ %>
        <div class="post">
            <h2 class="heading-2"><%= i+1 %> : <%= posts[i].title %></h2>
            <span class="post__date">Date : <%= posts[i].date.toDateString() %></span>
            <span class="post__date">Author: <%= posts[i].author %></span>
            <div class="ui red horizontal label">4 new comments</div>
            <h3 class="admin-font"><%= posts[i].intro %></h3>
            <br>
            <a href="/blog/<%= posts[i]._id %>/edit" class="ui button">Edit</a>
            <form action="/blog/<%= posts[i]._id %>?_method=DELETE" class="inline-block" method="POST">
                <button class="ui button">Delete</button>
            </form>
            <hr>
        </div>  
    <% } %>
 
</main>

<%- include('../partials/footer'); %>
