<%- include('../partials/header'); %>

    <main class="main quotes">
        <div class="ui fluid action input">
            <input type="text" placeholder="Search Quotes...">
            <div class="ui button">Search</div>
        </div>
        <h2 class="heading-2 border-bottom">Quotes</h2>
        <% quotes.forEach( (quote) => { %>
        <div class="quote">
            <h3 class="admin-font inline-block"><%= quote.body %></h3>
            <span class="heading-3">Author: <%= quote.author %></span>
            <form action="/admin/quotes/<%= quote._id %>/delete?_method=DELETE" method="POST">
                <button class="ui button">Delete</button>
            </form>
            <hr>
        </div>
        <% }); %>
    </main>

<%- include('../partials/footer'); %>



